*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background-color: blueviolet;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  width: 700px;
  height: auto;
  background-color: cornsilk;
  border-radius: 5px;
  display: flex;
}
.main-text{
  width: 30%;
  /* background-color: rgb(214, 33, 33); */
  height: 100%;
  padding: 50px 20px;
  text-transform: capitalize;
}
.questions{
  height: 100%;
  width: 70%;
  padding: 40px 30px;
}
.heading{
  display: flex;
  justify-content: space-between;
}

.question{
  border: 2px solid rgb(219, 219, 219);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(179, 166, 166, 0.5);
}

.btn{
  padding: 5px;
}
